$appColor: #7b2ea0;
$pink-1: #c472e0;
$pink-2: #af5abb;
$pink-3: #9B44B9;
$purple-1: #9422BB;
$purple-2: #B57DC8;
$white-1: #ffffff;
$white-2: #fbfbfd;
$white-3: #f7f7fb;
$white-4: #FCF4FF;
$white-5: #FAFAFA;
$grey-1: #d3cfcf;
$grey-2: #2E1437;
$grey-3: #C7C7C7;
$grey-4: #DDDDDD;
$grey-5: #E5E5E5;
$grey-6: #949494;
$grey-7: #888262;
$grey-8: #C4C4C4;
$grey-9: #EEEEEE;
$grey-10: #979797;
$black: #000000;
$black-1: #242424;
$black-2: #3D3D3D;
$yellow-1: #FFD028;
$blue-1: #28CBFF;
$blue-2: #1A00B2;
$green-1: #91DB6B;